:root {
  --primary: #3498db;
  --secondary: #e8402d;
  --dark: #1b4a49;
  --light: #f5eaea;
  --success: #d27065;

  --font: "Nunito", sans-serif;
  --textSize: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: red;
}

svg :hover {
  fill:#ff5b49
}

html,
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--font);
  font-size: var(--textSize);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.title {
  display: flex;
  align-items: center;
  margin: 2.5rem;
  font-size: 3.25rem;
}

.col {
  flex: 1 0 0%;
}

.form-group {
  margin-top: 1.625rem;
  display: flex;
}

.form-group .col {
  margin: 0 0.5rem;
}

.form-item {
  width: 100%;
}

.form-item h2 {
  display: block;
  margin-bottom: -1.45rem;
  color: var(--dark);
  font-weight: normal;
}

.quantity {
  display: flex;
  position: relative;
  left: 461px;
  bottom: 0.25rem;
  padding: 0.25rem;
  width:fit-content;
  border-radius: 0.25rem;
  background-color: #20565411;
  color: var(--dark);
}

.quantity p{
  font-weight: bold;
  border-radius: 0.25rem;
  color: var(--secondary);
}

.form-item input {
  font-size: var(--textSize);
  padding: 1rem;
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid var(--primary);
  width: 700px;
  border-radius: 0.25rem;
}

.form-group button {
  display: inline-block;
  color: var(--light);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--secondary);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group button:hover {
  background-color: var(--success);
  border: 1px solid var(--success);
}

.listTodo {
  display: flex;
  width: 700px;
  color: var(--dark);
  background-color:var(--light);
  border-radius: 0.15rem;
  border: 1px solid #58a7dbbb;
  margin-bottom: 0.5rem;
  height: 50px;

}

.editing {
  box-shadow: 0px 0px 5px 1px rgb(130, 130, 130);
  border-radius: 0.25rem;
}

.item-wrappers {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 700px;
}

.checkbox-wrapper {
  /* flex: 1; */
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 50px;
}

.task-wrapper {
  flex: 4;
}

.task-wrapper .ok {
  width: 550px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-wrapper span {
  padding: 0.75rem;
  font-size: 1;
}

.task-wrapper .edit-input {
  font-size: var(--textSize);
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 550px;

}

.item-checkbox {
  width: 1.1rem;
  height: 1.1rem;
}

.completed-task {
  text-decoration: line-through;
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out, text-decoration 0.1s ease-in-out;
}

.disable {
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.btn-feature {
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.edit-buttons button {
  width: max-content;
  position: relative;
  text-align: center;
  display: inline-block;
  color: var(--light);
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.5rem 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



