:root {
  --primary: #2b98e06c;
  --secondary: #e8402d;
  --dark: #363636;
  --light: #ffffff;
  --success: #e09200c9 ;

  --font: "Nunito", sans-serif;
  --textSize: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: red;
}

svg:hover {
  fill: #ff5b49;
}

html, body {
  background-color: #bbccea;
  color: var(--dark);
  font-family: var(--font);
  font-size: var(--textSize);
}

.container {
  background-color: #E8FFCE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  margin: 1rem auto;
  padding: 0 1rem;
  box-shadow: 0px 0px 8px 0px black;
  border-radius: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.title {
  display: flex;
  align-items: center;
  margin: 2.5rem;
  font-size: 3.25rem;
}

.col {
  flex: 1 0 0%;
}

.form-group {
  margin-top: 0rem;
  display: flex;
}

.form-group .col {
  margin: 0 0.5rem;
}

.form-item {
  width: 100%;
}

.form-item h2 {
  display: block;
  margin-bottom: -1.45rem;
  color: var(--dark);
  font-weight: normal;
}

.quantity {
  display: flex;
  position: relative;
  left: 461px;
  bottom: 0.25rem;
  padding: 0.25rem;
  width: fit-content;
  border-radius: 0.25rem;
  background-color: var(--primary); 
  color: var(--dark);
}

.quantity p {
  font-weight: bold;
  color: black;
}

.form-item input {
  font-size: var(--textSize);
  padding: 0.5rem;
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid skyblue;
  width: 700px;
  border-radius: 0.2rem;
}

.form-group button {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e09200 ;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-group button:hover {
  background-color: var(--success);
  border: 1px solid var(--success);
}

.list-todo {
  display: flex;
  width: 700px;
  color: var(--dark);
  background-color: var(--light);
  margin-bottom: 0.5rem;
  height: 50px;
  border: 1px solid #81c7df;
  border-radius: 0.2rem;
}

.item-wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 50px;
}

.task-wrapper {
  flex: 4;
}

.task-wrapper .ok {
  width: 550px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.task-wrapper span {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.ok .edit-input {
  font-size: 1.25rem;
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 0.25rem;
  width: 550px;
}

.item-checkbox {
  width: 1.1rem;
  height: 1.1rem;
}

.completed-task {
  text-decoration: line-through;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.disable {
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.btn-feature {
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.edit-buttons button {
  background-color: transparent;
  width: max-content;
  position: relative;
  text-align: center;
  display: inline-block;
  color: var(--light);
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.5rem 0.5rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}